<% if params[:family] %>
  <h2><%= params[:family]%> Butterflies</h2>
<%else %>
  <h2>All butterflies, even the ugly ones</h2>
<% end %>


<% @butterflies.each do |butterfly| %>
  <div class="butterfly">
    <h3>
      <a href="/butterflies/<%= butterfly['id'] %>">
        <%= butterfly['name'] %>
      </a>
    </h3>
    <img src="<%= butterfly['image'] %>">
  </div>
<% end %>