<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>

  <nav>
    <a href="/">Home</a>
    <a href="/calc">calculate</a>
    <a href="results">results</a>

  </nav>
    <h1>Sinatra Calculator</h1>
    <%= yield %>
  </body>
</html>