<form action= "/" method = "get">
  <input name = "title" placeholder = "Movie Title">

  <button>Find Movie!</button>
</form>

<% if @title %>
<p><%= @movie['Title'] %></p>
<img src="<%= @movie['Poster'] %>" alt="<%=@title%>">
<% end %>