<p class="notification">
  Please be advised of something or other.
</p>
<p class="error">
  OMG something went wrong!
</p>
<p class="success">
  Yay it worked!
</p>

<h1>My #Lyfe</h1>

<article class="post">
<h2>Some post title</h2>
<h3 class="slug">/some-post-title</h3>
<h4 class="date">January 1 1978</h4>
<div class="content">
  <p>Blah Blah Blah</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

</article>

<article class="post">
<h2>Some post title</h2>
<h3 class="slug">/some-post-title</h3>
<h4 class="date">January 6 1978</h4>
<div class="content">
  <p>Blah Blah Blah</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

</article>