.box {
  width:4em;
  height:4em;
  border: 1px solid #ccc;
  display:inline-block;
  margin:10px;
}

.pixel {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid transparent;
  vertical-align:top;
  line-height:-5px;
  position:relative;
  margin-bottom:-50px;
}



#canvas {
  width:1000px;
  margin: 0 auto;
  background-repeat:none;
  background-size:cover;
  border: 1px solid #ccc;
}

input {
  border: 1px solid #ccc;
  padding:10px;
}

button {
  background-color: #3E6372;
  padding:10px;
  border:none;
  color:#fff;
  border-bottom:4px solid #2A3A48;
}