<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="container">
    <header>
      <h1>MY STUPID SITE</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sale</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <h2>Recent News</h2>

      <p>
        Chambray XOXO kale chips, messenger bag +1 quinoa PBR plaid 3 wolf moon pop-up cardigan sustainable selfies lo-fi. Wolf messenger bag lo-fi, cornhole YOLO forage street art American Apparel mlkshk. Slow-carb post-ironic plaid, photo booth distillery you probably haven't heard of them selvage street art asymmetrical art party leggings. Skateboard occupy umami small batch distillery semiotics. Pop-up Portland Marfa Odd Future, pour-over tousled butcher leggings flexitarian. Cosby sweater artisan disrupt Schlitz shabby chic 8-bit, sartorial Carles distillery jean shorts try-hard. Small batch master cleanse craft beer, banjo quinoa Wes Anderson raw denim iPhone ugh Banksy hella.
      </p>
      <p>
        Umami banh mi +1, raw denim cardigan readymade occupy actually tattooed Odd Future fingerstache small batch messenger bag kogi selvage. Gastropub fanny pack asymmetrical direct trade. Pork belly keytar twee squid Bushwick. Disrupt narwhal wolf four loko, Shoreditch artisan polaroid raw denim bitters ennui. Banjo narwhal fap pour-over Helvetica, ethical Williamsburg freegan. Synth High Life salvia, gluten-free twee Wes Anderson jean shorts American Apparel Neutra before they sold out Carles Echo Park Blue Bottle aesthetic +1. Tumblr tousled leggings, High Life bitters kale chips art party raw denim.
      </p>
    </div>
    <div class="sidebar">
    <h3>Hello</h3>
      <p>
        Chambray XOXO kale chips, messenger bag +1 quinoa PBR plaid 3 wolf moon pop-up cardigan sustainable selfies lo-fi. Wolf messenger bag lo-fi, cornhole YOLO forage street art American Apparel mlkshk. Slow-carb post-ironic plaid, photo booth distillery you probably haven't heard of them selvage street art asymmetrical art party leggings. Skateboard occupy umami small batch distillery semiotics. Pop-up Portland Marfa Odd Future, pour-over tousled butcher leggings flexitarian. Cosby sweater artisan disrupt Schlitz shabby chic 8-bit, sartorial Carles distillery jean shorts try-hard. Small batch master cleanse craft beer, banjo quinoa Wes Anderson raw denim iPhone ugh Banksy hella.
      </p>
      <h3>
        Something Cool
      </h3>
      <p>
        Umami banh mi +1, raw denim cardigan readymade occupy actually tattooed Odd Future fingerstache small batch messenger bag kogi selvage. Gastropub fanny pack asymmetrical direct trade. Pork belly keytar twee squid Bushwick. Disrupt narwhal wolf four loko, Shoreditch artisan polaroid raw denim bitters ennui. Banjo narwhal fap pour-over Helvetica, ethical Williamsburg freegan. Synth High Life salvia, gluten-free twee Wes Anderson jean shorts American Apparel Neutra before they sold out Carles Echo Park Blue Bottle aesthetic +1. Tumblr tousled leggings, High Life bitters kale chips art party raw denim.
      </p>
    </div>
        <footer>
        <p>&copy; 2014</p>
      </footer>
    </div>

</body>
</html>