<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/positioning.css">
</head>
<body>

  <div class="box">I'm a static box</div>
  <div class="box relative">
    I'm relative.
    <div class= "absolute">
      I'm absolute inside relative
    </div>
  </div>
  <div class= "box fixed">I'm fixed</div>
  <div class="box absolute">I'm absolute</div>
 <div class="index">
   <div class="box absolute z-1"></div>
   <div class="box absolute z-2"></div>
   <div class="box absolute z-3"></div>
   <div class="box absolute z-4"></div>
 </div>
</body>
</html>